<div id="<%= dom_id application_setting %>">
  <p>
    <strong>Name:</strong>
    <%= application_setting.name %>
  </p>

  <p>
    <strong>Logo location:</strong>
    <%= application_setting.logo_location %>
  </p>

  <p>
    <strong>Tag line:</strong>
    <%= application_setting.tag_line %>
  </p>

  <p>
    <strong>Company name:</strong>
    <%= application_setting.company_name %>
  </p>

</div>
