<p style="color: green"><%= notice %></p>

<%= render @user_subscribed %>

<div>
  <%= link_to "Edit this user subscribed", edit_user_subscribed_path(@user_subscribed) %> |
  <%= link_to "Back to user subscribeds", user_subscribeds_path %>

  <%= button_to "Destroy this user subscribed", @user_subscribed, method: :delete %>
</div>
