<p style="color: green"><%= notice %></p>

<% content_for :title, "Topics" %>

<h1>Topics</h1>

<div id="topics">
  <% @topics.each do |topic| %>
    <%= topic.title %>
    <p>
      <%= link_to "Show this topic", topic %>
    </p>
  <% end %>
</div>

<div>
<%Topic.all.each do |t|%>
<%=t.title%>
<%end%>
</div>

<%= link_to "New topic", new_topic_path %>
