<div id="<%= dom_id dashboard %>">
  <p>
    <strong>Site visits:</strong>
    <%= dashboard.site_visits %>
  </p>

  <p>
    <strong>Site sales:</strong>
    <%= dashboard.site_sales %>
  </p>

  <p>
    <strong>Sites unique visits:</strong>
    <%= dashboard.sites_unique_visits %>
  </p>

  <p>
    <strong>Bounce rate:</strong>
    <%= dashboard.bounce_rate %>
  </p>

  <p>
    <strong>Has message:</strong>
    <%= dashboard.has_message %>
  </p>

  <p>
    <strong>Has notification:</strong>
    <%= dashboard.has_notification %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= dashboard.name %>
  </p>

  <p>
    <strong>Profile pic:</strong>
    <%= dashboard.profile_pic %>
  </p>

  <p>
    <strong>Server status:</strong>
    <%= dashboard.server_status %>
  </p>

  <p>
    <strong>Cpu usage:</strong>
    <%= dashboard.cpu_usage %>
  </p>

  <p>
    <strong>Memory usage:</strong>
    <%= dashboard.memory_usage %>
  </p>

  <p>
    <strong>Disk usage:</strong>
    <%= dashboard.disk_usage %>
  </p>

  <p>
    <strong>Database:</strong>
    <%= dashboard.database %>
  </p>

  <p>
    <strong>Domain:</strong>
    <%= dashboard.domain %>
  </p>

  <p>
    <strong>Email account:</strong>
    <%= dashboard.email_account %>
  </p>

  <p>
    <strong>New reg users:</strong>
    <%= dashboard.new_reg_users %>
  </p>

  <p>
    <strong>Sales status:</strong>
    <%= dashboard.sales_status %>
  </p>

  <p>
    <strong>Recent article:</strong>
    <%= dashboard.recent_article %>
  </p>

  <p>
    <strong>Statistic summary:</strong>
    <%= dashboard.statistic_summary %>
  </p>

  <p>
    <strong>User:</strong>
    <%= dashboard.user_id %>
  </p>

</div>
