<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Nevaeh" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <!-- vendor css -->
    <link href="/themes/template/lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/themes/template/lib/Ionicons/css/ionicons.css" rel="stylesheet">
    <link href="/themes/template/lib/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
    <link href="/themes/template/lib/jquery-switchbutton/jquery.switchButton.css" rel="stylesheet">
    <link href="/themes/template/lib/rickshaw/rickshaw.min.css" rel="stylesheet">
    <link href="/themes/template/lib/chartist/chartist.css" rel="stylesheet">

    <!-- Bracket CSS -->
    <link rel="stylesheet" href="/themes/template/css/bracket.css">
    <script src="/themes/template/lib/jquery/jquery.js"></script>
    <script src="/themes/template/lib/popper.js/popper.js"></script>
    <script src="/themes/template/lib/bootstrap/bootstrap.js"></script>
    <script src="/themes/template/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
    <script src="/themes/template/lib/moment/moment.js"></script>
    <script src="/themes/template/lib/jquery-ui/jquery-ui.js"></script>
    <script src="/themes/template/lib/jquery-switchbutton/jquery.switchButton.js"></script>
    <script src="/themes/template/lib/peity/jquery.peity.js"></script>
    <script src="/themes/template/lib/chartist/chartist.js"></script>
    <script src="/themes/template/lib/jquery.sparkline.bower/jquery.sparkline.min.js"></script>
    <script src="/themes/template/lib/d3/d3.js"></script>
    <script src="/themes/template/lib/rickshaw/rickshaw.min.js"></script>


    <script src="/themes/template/js/bracket.js"></script>
    <script src="/themes/template/js/ResizeSensor.js"></script>
    <script src="/themes/template/js/dashboard.js"></script>
    <script>
      $(function(){
        'use strict'

        // FOR DEMO ONLY
        // menu collapsed by default during first page load or refresh with screen
        // having a size between 992px and 1299px. This is intended on this page only
        // for better viewing of widgets demo.
        $(window).resize(function(){
          minimizeMenu();
        });

        minimizeMenu();

        function minimizeMenu() {
          if(window.matchMedia('(min-width: 992px)').matches && window.matchMedia('(max-width: 1299px)').matches) {
            // show only the icons and hide left menu label by default
            $('.menu-item-label,.menu-item-arrow').addClass('op-lg-0-force d-lg-none');
            $('body').addClass('collapsed-menu');
            $('.show-sub + .br-menu-sub').slideUp();
          } else if(window.matchMedia('(min-width: 1300px)').matches && !$('body').hasClass('collapsed-menu')) {
            $('.menu-item-label,.menu-item-arrow').removeClass('op-lg-0-force d-lg-none');
            $('body').removeClass('collapsed-menu');
            $('.show-sub + .br-menu-sub').slideDown();
          }
        }
      });
    </script>
  </head>

  <!-- app/views/layouts/application.html.erb -->
<body>
  <div class="container">
    <!-- Main Row -->
    <div class="row">
      <% if user_signed_in? %>
      <!-- Left Panel -->
      <div class="col-md-3">
        <%= render 'dashboards/left_panel' %>
      </div>
      <%end%>

      <!-- Main Content -->
      <div class="col-md-8"></div>
      <div  align="center">
        <%= yield %>
      </div>
    </div>

    <!-- Add clearfix or a margin utility class to avoid overlap -->
    <div class="clearfix"></div>

    <!-- Footer Row -->
    <div class="row mt-4">
      <%= render 'layouts/footer'%>
    </div>
    
  </div> <!-- Close Container -->
</body>

</html>
